.wrapper {
	border: 1px solid PaleVioletRed;

	position: relative;
	width: 774px;
	height: 584px;

	background: url("../images/black-brushed-metal.jpg") no-repeat center;
	background-size: cover;
}

.gunBarrel {
	border: 1px solid PaleVioletBlue;

	position: absolute;
	top: calc((584px - 580px)/2);
	right: calc((774px - 580px)/2);
	width: 580px;
	height: 580px;

	background: url("../images/light-gun-barrel.png") no-repeat center;
	background-size: cover;
}