.pictureFrame {
  width: 100%;
  height: 100%;
  transition: all 0.4s, -webkit-transform 0.4s ease;
  transition: all 0.4s, transform 0.4s ease;
  transition: all 0.4s, transform 0.4s ease, -webkit-transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch; }
  @media only screen and (min-width: 530px) {
    .pictureFrame {
      flex-direction: row; 
    } 
  }
  @media only screen and (max-width: 767px) {
    .pictureFrame {
      flex-direction: column; 
    } 
}

.pictureFrame__panel {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all .6s;
  min-height: 200px;
  min-width: 100px; }

.pictureFrame__panel:hover {
  transform: rotateY(180deg); }

.pictureFrame__panel--one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/panel-1.jpg); }

.pictureFrame__panel--two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/panel-2.jpg); }

.pictureFrame__panel--three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/panel-3.jpg); }

.pictureFrame__panel--four {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/panel-4.jpg); }

.pictureFrame__panel--five {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/panel-5.jpg); }

.postStamp {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: #fff;
  font-weight: 300; }
  .postStamp__textBox--heading {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase; }
  .postStamp__textBox--body {
    font-size: 14px;
    line-height: 14px; }
  .postStamp__img {
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px; }

.transitionToTarget {
  transform: translate(-100%, 0); }

.targetFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: #000;
  color: #fff;
  transition: all 0.4s, transform 0.4s ease;
}

// Responsive form
.InputAddOn {
  display: flex;
  margin-bottom: 1.5em;
}

.InputAddOn-field {
  flex: 1;
}
.InputAddOn-field:not(:first-child) {
  border-left: 0;
}
.InputAddOn-field:not(:last-child) {
  border-right: 0;
}

.InputAddOn-item {
  background-color: rgba(147, 128, 108, 0.1);
  color: #666666;
  font: inherit;
  font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
  border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
  border-radius: 0 2px 2px 0;
}
